$gray-bg: rgba(245, 245, 250, 1);
$gray-bg_transparent: rgba(245, 245, 250, 0.2);
$gray-txt:rgba(179, 179, 186, 1);
$gray-separator: rgba(230, 230, 240, 1);
$gray-alt: rgba(237, 237, 247, 1);
$main: rgba(50, 50, 100, 1);
$main-alt: rgba(70, 70, 110, 1);
$main-soft: rgba(104, 104, 135, 1);
$accent: rgba(240, 20, 90, 1);
$active: rgba(36, 163, 255, 1);
$active-hover: rgba(0, 133, 255, 1);
$active-act: rgba(0, 108, 207, 1);
$gradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-redtxt: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-redtxtrev: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$white: #FFFFFF;
$black: #000000;

